<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ config.TITLE }}</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<!-- http://stackoverflow.com/questions/11124777/twitter-bootstrap-navbar-fixed-top-overlapping-site  -->
<style>
@media (min-width: 980px) {
  body {
    padding-top: 60px;
    padding-bottom: 42px;
  }
}
</style>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    {% set navigation_bar = [
        ('show_quotes', 'Home'),
        ('add_quote', 'Add')
    ] -%}
    {% set active_page = active_page|default('show_quotes') -%}
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{ config.TITLE }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              {% for href, caption in navigation_bar %}
              <li {% if href == active_page %} class=active {% endif %} ><a href="{{ url_for(href) }}">{{ caption|e }}</a>
              {% endfor %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class=container>
    {% block content %}{% endblock %}
</div>
</body>
</html>
