{% extends "base.html" %}
{% set active_page = "show_quotes" %}
{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
        <div class="alert alert-info" role="alert">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}
  {% endif %}
{% endwith%}
<div class='quotes page-header'>
    <h1>Quotes</h1>
</div>
<div class=row>
    <ul class=list-group>
        {% for quote in quotes %}
        <li class=list-group-item>
                <h4 class=list-group-item-heading>{{ quote.author }}</h4>
                <p class=list-group-item-text>{{ quote.text }}</p>
                <em style="position:absolute;bottom:0px;right:5px;font-size: 10px">{{ quote.ts }}</em>
        {% else %}
            <li class=list-group-item>
            <em>No quotes!</em>
        {% endfor %}
    </ul>
    {% if pages > 1 %}
    <ul class="pagination pagination-sm">
        {% for page in range(1, pages + 1) %}
            <li class='pagination pagination-sm'>
                <li {% if current == page %} class=active {% endif %}><a href="{{ url_for('show_quotes') + page|string }}">{{ page }}</a>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<script type=text/javascript>
setTimeout(function() {
        $('.alert').remove();
}, 5000);
</script>
{% endblock %}
