{% extends "base.html" %}
{% set active_page = "show_quotes" %}
{% block content %}
<div class='quotes page-header'>
    <h1>Quotes</h1>
</div>
<div class=row>
    <ul class=list-group>
        {% for quote in quotes %}
        <li class=list-group-item>
                <h4 class=list-group-item-heading>{{ quote.author }}</h4>
                <p class=list-group-item-text>{{ quote.text }}</p>
                <em>{{ quote.ts }}</em>
        {% else %}
            <li><em>No quotes!</em>
        {% endfor %}
    </ul>
</div>
{% endblock %}
